{% extends "front.html" %}

{% block content %}
  <article class="post">
    <div class="row post-heading">
      <div class="col-xs-8">
        <h3 class="post-title text-left">{{post.title | safe}}</h3>
      </div>
      <div class="col-xs-4">
        <h4 class="post-date text-right">{{post.created.strftime("%b %d, %Y")}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="post-author">
          By {{post_username}}
        </div>
      </div>
      <div class="col-xs-6">
        <div class="text-right like-area">
          {% if user and username != post_username %}
            <form method="post" class="form-inline">
              <button type="submit" name="action" value="like" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              </button>
              </span> <span class="badge">{{post.like_count()}}</span></div>
            </form>
          {% else %}
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
            </span> <span class="badge">{{post.like_count()}}</span></div>
          {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="post-content">
          {{post._render_text | safe}}
        </div>
      </div>
    </div>
  </article>

  <div class="row">

    {% if username == post_username %}
      <form method="post" class="post-control">
        <button type="button" name="edit" class="btn btn-default" data-toggle="modal" href="#edit">
          Edit Post
        </button>
        <button type="submit" name="action" value="delete" class="btn btn-danger" onclick="return confirmDelete()">
          Delete Post
        </button>
      </form>
    {% endif %}
  </div>

  <div class="modal fade" id="edit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3 class="modal-title">Edit Post</h3>
        </div>
        <div class="modal-body">
          <form method="post">
            <div class="form-group row">
              <label for="title" class="col-xs-2 col-form-label">Title</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" value="{{post.title | safe}}" name="title" id="title" placeholder="Title" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="content" class="col-xs-2 col-form-label">Content</label>
              <div class="col-xs-10">
                <textarea class="form-control" name="content" id="content" rows="15" placeholder="Content (HTML/Text)" required>{{post.content | safe}}</textarea>
              </div>
            </div>
            <div class="error">{{error}}</div>
            <button type="submit" class="btn btn-primary" name="action" value="edit">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {% if user %}
        <form method="post" class="post-control">
          <label for="content" class="col-xs-2 col-form-label">Comment</label>
          <textarea class="form-control" name="comment_content" id="comment_content" rows="3" placeholder="Comment" required></textarea>
          <button type="submit" name="action" value="add_comment" class="btn btn-primary">
            Add Comment
          </button>
        </form>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>User</th>
            <th class="table-hide-col">Date</th>
            <th>Comment</th>
            {% if user %}
              <th>Edit/Delete</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for c in comments %}
            <tr>
              <td>{{c.get_username()}}</td>
              <td class="table-hide-col">{{c.created.strftime("%b %d, %Y %H:%M")}}</td>
              {% if user %}
                {% if c.user_id == user.key().id() %}
                    <form method="post" id="{{c.key().id()}}_form" class="form-inline">
                      <td id="{{c.key().id()}}_comment_content" name="{{c.key().id()}}" class="editable">{{c.content}}</td>
                      <td>
                      <button type="submit" id="{{c.key().id()}}_edit_btn" name="edit_comment" value="{{c.key().id()}}" class="btn btn-default btn-xs edit_comment" onclick="return editComment('{{c.key().id()}}');" >
                        Edit
                      </button>
                      <button type="submit" name="delete_comment" value="{{c.key().id()}}" class="btn btn-danger btn-xs" onclick="return confirmDelete()">
                        Delete
                      </button>
                      </td>
                    </form>
                {% else %}
                  <td name="{{c.key().id()}}" class="editable">{{c.content}}</td>
                  <td></td>
                {% endif %}
              {% else %}
                <td name="{{c.key().id()}}" class="editable">{{c.content}}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}
