<article class="post">
  <div class="row post-heading">
    <div class="col-xs-8">
      <a href="/blog/{{p.key().id()}}">
        <h3 class="post-title text-left">{{p.title | safe}}</h3>
      </a>
    </div>
    <div class="col-xs-4">
      <h4 class="post-date text-right">{{p.created.strftime("%b %d, %Y")}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="post-author">
        By {{post_username}}
      </div>
    </div>
    <div class="col-xs-6">
      <div class="text-right">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
        </span> <span class="badge">{{p.like_count()}}</span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="post-content post-overview">
        <p>
          {{p._render_text | safe}}
        </p>
        <p>
          <p class="read-more">
            <a href="/blog/{{p.key().id()}}" class="btn btn-default btn-sm active" role="button">Read More</a>
          </p>
        </p>
      </div>
    </div>
  </div>
</article>
