{% extends "front.html" %}
{% block content %}
  <form method="post" role="form">
    <h2>Sign up</h2>
    <div class="form-group row">
      <label for="username" class="col-xs-2 col-form-label">Username</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" value="{{username}}" name="username" id="username" placeholder="Username" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="pwd1" class="col-xs-2 col-form-label">Password</label>
      <div class="col-xs-10">
        <input class="form-control" type="password" value="{{pwd1}}" name="pwd1" id="pwd1" placeholder="Password" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="pwd2" class="col-xs-2 col-form-label">Verify</label>
      <div class="col-xs-10">
        <input class="form-control" type="password" value="{{pwd2}}" name="pwd2" id="pwd2" placeholder="Verify" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-xs-2 col-form-label">Email (optional)</label>
      <div class="col-xs-10">
        <input class="form-control" type="email" value="{{email}}" name="email" id="email" placeholder="Email (optional)" >
      </div>
    </div>
    <div class="error">{{error}}</div>
    <input type="submit" class="btn btn-primary" />
  </form>

{% endblock %}
